<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AngularJS Hash Mapping</title>
  </head>
  <body>
    <div ng-controller="AppCtrl">
      <p>new build 4</p>
      <button ng-click="goToHome()">Go to Home</button>
      <button ng-click="goToAbout()">Go to About</button>
      <div ng-view></div>
    </div>

    <!-- build:js app.min.js -->
     <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="app.module.js"></script>
    <!-- endbuild -->
  </body>
</html>
